*{
	margin: 0;
	padding: 0;
}
sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin-bottom: 0.2em;
	line-height: 0em;
	display: block;
	border:1px solid #000000;
	border-style: outset;
	width: 49.58333em;
	background-color: white;
	box-shadow: #000000;
}
.cmain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=);
  
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  height: 50px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #323232;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"CJCTHS+TimesNewRomanPS-BoldMT";
	src:url("c735d7e8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.33em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: -0.0051em;
}

.ie .stl_09 {
	letter-spacing: -0.1094px;
}
.stl_10 {
	font-size: 1em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.001em;
}

.ie .stl_11 {
	letter-spacing: -0.0163px;
}
.stl_12 {
	font-size: 0.88em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0138em;
}

.ie .stl_13 {
	letter-spacing: -0.1937px;
}
.stl_14 {
	letter-spacing: -0.02em;
}

.ie .stl_14 {
	letter-spacing: -0.32px;
}
@font-face {
	font-family:"UCQPHO+TimesNewRomanPSMT";
	src:url("d8b1a615-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #000000;
}
.stl_16 {
	letter-spacing: -0.0024em;
}

.ie .stl_16 {
	letter-spacing: -0.039px;
}
.stl_17 {
	letter-spacing: -0.0202em;
}

.ie .stl_17 {
	letter-spacing: -0.3234px;
}
.stl_18 {
	letter-spacing: -0.0002em;
}

.ie .stl_18 {
	letter-spacing: -0.0032px;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.ie .stl_19 {
	letter-spacing: -0.0012px;
}
.stl_20 {
	letter-spacing: 0.0001em;
}

.ie .stl_20 {
	letter-spacing: 0.0019px;
}
.stl_21 {
	letter-spacing: -0.0004em;
}

.ie .stl_21 {
	letter-spacing: -0.0068px;
}
.stl_22 {
	letter-spacing: -0.0196em;
}

.ie .stl_22 {
	letter-spacing: -0.3133px;
}
.stl_23 {
	letter-spacing: -0.0022em;
}

.ie .stl_23 {
	letter-spacing: -0.0348px;
}
.stl_24 {
	letter-spacing: -0.0003em;
}

.ie .stl_24 {
	letter-spacing: -0.0053px;
}
.stl_25 {
	letter-spacing: -0.0015em;
}

.ie .stl_25 {
	letter-spacing: -0.0235px;
}
.stl_26 {
	letter-spacing: 0.0004em;
}

.ie .stl_26 {
	letter-spacing: 0.0065px;
}
.stl_27 {
	letter-spacing: -0.0006em;
}

.ie .stl_27 {
	letter-spacing: -0.0097px;
}
.stl_28 {
	letter-spacing: 0em;
}

.ie .stl_28 {
	letter-spacing: -0.0006px;
}
.stl_29 {
	letter-spacing: -0.0234em;
}

.ie .stl_29 {
	letter-spacing: -0.3748px;
}
.stl_30 {
	letter-spacing: -0.0005em;
}

.ie .stl_30 {
	letter-spacing: -0.0073px;
}
.stl_31 {
	letter-spacing: -0.0007em;
}

.ie .stl_31 {
	letter-spacing: -0.0111px;
}
.stl_32 {
	letter-spacing: 0.0007em;
}

.ie .stl_32 {
	letter-spacing: 0.0112px;
}
.stl_33 {
	letter-spacing: -0.0014em;
}

.ie .stl_33 {
	letter-spacing: -0.022px;
}
.stl_34 {
	letter-spacing: 0.0003em;
}

.ie .stl_34 {
	letter-spacing: 0.0048px;
}
.stl_35 {
	font-size: 0.92em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"WBBNHV+SegoeUI-Bold";
	src:url("f73ce39b-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 1em;
	font-family: "WBBNHV+SegoeUI-Bold";
	color: #333333;
}
.stl_37 {
	line-height: 1.330078em;
}
@font-face {
	font-family:"SPABVD+SegoeUI";
	src:url("845ebc77-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 1em;
	font-family: "SPABVD+SegoeUI";
	color: #333333;
}
.stl_39 {
	letter-spacing: 0.0002em;
}

.ie .stl_39 {
	letter-spacing: 0.0035px;
}
.stl_40 {
	letter-spacing: 0.0011em;
}

.ie .stl_40 {
	letter-spacing: 0.017px;
}
@font-face {
	font-family:"KNSJLN+CourierNewPSMT";
	src:url("88feadd6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.83em;
	font-family: "KNSJLN+CourierNewPSMT", "Times New Roman";
	color: #000000;
}
.stl_42 {
	line-height: 1.132813em;
}
.stl_43 {
	letter-spacing: -0.0011em;
}

.ie .stl_43 {
	letter-spacing: -0.0184px;
}
.stl_44 {
	letter-spacing: 0.0005em;
}

.ie .stl_44 {
	letter-spacing: 0.0082px;
}
.stl_45 {
	letter-spacing: -0.0048em;
}

.ie .stl_45 {
	letter-spacing: -0.0765px;
}
.stl_46 {
	letter-spacing: -0.0009em;
}

.ie .stl_46 {
	letter-spacing: -0.0147px;
}
.stl_47 {
	letter-spacing: -0.0016em;
}

.ie .stl_47 {
	letter-spacing: -0.026px;
}
.stl_48 {
	letter-spacing: -0.0008em;
}

.ie .stl_48 {
	letter-spacing: -0.0121px;
}
.stl_49 {
	letter-spacing: -0.0178em;
}

.ie .stl_49 {
	letter-spacing: -0.2853px;
}
.stl_50 {
	letter-spacing: 0.0024em;
}

.ie .stl_50 {
	letter-spacing: 0.0392px;
}
@font-face {
	font-family:"VHWKOC+SymbolMT";
	src:url("ececd00a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_51 {
	font-size: 0.83em;
	font-family: "VHWKOC+SymbolMT", "Times New Roman";
	color: #000000;
}
.stl_52 {
	line-height: 1.225098em;
}
.stl_53 {
	letter-spacing: 0.0008em;
}

.ie .stl_53 {
	letter-spacing: 0.012px;
}
.stl_54 {
	letter-spacing: -0.0013em;
}

.ie .stl_54 {
	letter-spacing: -0.0212px;
}
@font-face {
	font-family:"FUMORL+Consolas";
	src:url("f63619c6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 0.92em;
	font-family: "FUMORL+Consolas";
	color: #008200;
}
.stl_56 {
	line-height: 1.170898em;
}
@font-face {
	font-family:"TDDCVM+Consolas-Bold";
	src:url("053dcb7a-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_57 {
	font-size: 0.92em;
	font-family: "TDDCVM+Consolas-Bold", "Times New Roman";
	color: #006699;
}
.stl_58 {
	font-size: 0.92em;
	font-family: "FUMORL+Consolas";
	color: #000000;
}
.stl_59 {
	letter-spacing: -0.0017em;
}

.ie .stl_59 {
	letter-spacing: -0.0255px;
}
.stl_60 {
	letter-spacing: -0.0058em;
}

.ie .stl_60 {
	letter-spacing: -0.0854px;
}
.stl_61 {
	letter-spacing: -0.0025em;
}

.ie .stl_61 {
	letter-spacing: -0.0364px;
}
.stl_62 {
	letter-spacing: -0.0038em;
}

.ie .stl_62 {
	letter-spacing: -0.056px;
}
.stl_63 {
	letter-spacing: -0.0033em;
}

.ie .stl_63 {
	letter-spacing: -0.0486px;
}
.stl_64 {
	letter-spacing: -0.0019em;
}

.ie .stl_64 {
	letter-spacing: -0.0277px;
}
.stl_65 {
	letter-spacing: -0.002em;
}

.ie .stl_65 {
	letter-spacing: -0.03px;
}
.stl_66 {
	letter-spacing: -0.0021em;
}

.ie .stl_66 {
	letter-spacing: -0.0302px;
}
.stl_67 {
	letter-spacing: -0.0018em;
}

.ie .stl_67 {
	letter-spacing: -0.0266px;
}
.stl_68 {
	font-size: 0.92em;
	font-family: "FUMORL+Consolas";
	color: #0000FF;
}
.stl_69 {
	letter-spacing: -0.0034em;
}

.ie .stl_69 {
	letter-spacing: -0.0505px;
}
.stl_70 {
	letter-spacing: -0.0012em;
}

.ie .stl_70 {
	letter-spacing: -0.0175px;
}
.stl_71 {
	letter-spacing: -0.0031em;
}

.ie .stl_71 {
	letter-spacing: -0.0455px;
}
.stl_72 {
	letter-spacing: -0.0023em;
}

.ie .stl_72 {
	letter-spacing: -0.0339px;
}
.stl_73 {
	letter-spacing: 0.0052em;
}

.ie .stl_73 {
	letter-spacing: 0.0765px;
}
.stl_74 {
	letter-spacing: -0.0068em;
}

.ie .stl_74 {
	letter-spacing: -0.1002px;
}
.stl_75 {
	letter-spacing: 0.0022em;
}

.ie .stl_75 {
	letter-spacing: 0.0323px;
}
@font-face {
	font-family:"KIDHFC+Arial-BoldMT";
	src:url("bda21bf8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_76 {
	font-size: 1.08em;
	font-family: "KIDHFC+Arial-BoldMT", "Times New Roman";
	color: #273239;
}
.stl_77 {
	line-height: 1.117188em;
}
.stl_78 {
	letter-spacing: 0.0099em;
}

.ie .stl_78 {
	letter-spacing: 0.1717px;
}
.stl_79 {
	font-size: 1em;
	font-family: "FUMORL+Consolas";
	color: #273239;
}
.stl_80 {
	letter-spacing: 0.0085em;
}

.ie .stl_80 {
	letter-spacing: 0.1365px;
}
.stl_81 {
	letter-spacing: 0.0088em;
}

.ie .stl_81 {
	letter-spacing: 0.1403px;
}
.stl_82 {
	letter-spacing: 0.0089em;
}

.ie .stl_82 {
	letter-spacing: 0.1431px;
}
.stl_83 {
	letter-spacing: 0.0093em;
}

.ie .stl_83 {
	letter-spacing: 0.1492px;
}
.stl_84 {
	font-size: 1.08em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #273239;
}
.stl_85 {
	letter-spacing: 0.009em;
}

.ie .stl_85 {
	letter-spacing: 0.1555px;
}
.stl_86 {
	font-size: 1.08em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #273239;
}
.stl_87 {
	letter-spacing: 0.0098em;
}

.ie .stl_87 {
	letter-spacing: 0.1701px;
}
.stl_88 {
	letter-spacing: 0.0086em;
}

.ie .stl_88 {
	letter-spacing: 0.149px;
}
.stl_89 {
	letter-spacing: 0.0091em;
}

.ie .stl_89 {
	letter-spacing: 0.1564px;
}
.stl_90 {
	letter-spacing: 0.0087em;
}

.ie .stl_90 {
	letter-spacing: 0.1503px;
}
.stl_91 {
	font-size: 0.83em;
	font-family: "VHWKOC+SymbolMT", "Times New Roman";
	color: #273239;
}
.stl_92 {
	letter-spacing: 0.0084em;
}

.ie .stl_92 {
	letter-spacing: 0.145px;
}
.stl_93 {
	letter-spacing: -0.004em;
}

.ie .stl_93 {
	letter-spacing: -0.064px;
}
.stl_94 {
	letter-spacing: -0.0028em;
}

.ie .stl_94 {
	letter-spacing: -0.0449px;
}
.stl_95 {
	letter-spacing: 0.0015em;
}

.ie .stl_95 {
	letter-spacing: 0.0241px;
}
.stl_96 {
	font-size: 1em;
	font-family: "KNSJLN+CourierNewPSMT", "Times New Roman";
	color: #000000;
}
.stl_97 {
	letter-spacing: -0.0095em;
}

.ie .stl_97 {
	letter-spacing: -0.1527px;
}
.stl_98 {
	letter-spacing: -0.003em;
}

.ie .stl_98 {
	letter-spacing: -0.0472px;
}
.stl_99 {
	font-size: 1em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #273239;
}
.stl_100 {
	font-size: 1em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #273239;
}
.stl_101 {
	letter-spacing: 0.0106em;
}

.ie .stl_101 {
	letter-spacing: 0.169px;
}
.stl_102 {
	letter-spacing: 0.0076em;
}

.ie .stl_102 {
	letter-spacing: 0.1222px;
}
.stl_103 {
	letter-spacing: 0.01em;
}

.ie .stl_103 {
	letter-spacing: 0.16px;
}
@font-face {
	font-family:"LDSUQW+ArialMT";
	src:url("89aa8e35-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_104 {
	font-size: 1.08em;
	font-family: "LDSUQW+ArialMT";
	color: #273239;
}
.stl_105 {
	letter-spacing: 0.0083em;
}

.ie .stl_105 {
	letter-spacing: 0.1332px;
}
.stl_106 {
	font-size: 0.92em;
	font-family: "CJCTHS+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_107 {
	letter-spacing: -0.0168em;
}

.ie .stl_107 {
	letter-spacing: -0.2478px;
}
.stl_108 {
	letter-spacing: -0.0043em;
}

.ie .stl_108 {
	letter-spacing: -0.0693px;
}
.stl_109 {
	letter-spacing: -0.009em;
}

.ie .stl_109 {
	letter-spacing: -0.1441px;
}
.stl_110 {
	font-size: 1em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #333333;
}
.stl_111 {
	font-size: 1em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #FFFFFF;
}
.stl_112 {
	letter-spacing: 0.0077em;
}

.ie .stl_112 {
	letter-spacing: 0.1228px;
}
.stl_113 {
	letter-spacing: 0.0078em;
}

.ie .stl_113 {
	letter-spacing: 0.1255px;
}
.stl_114 {
	letter-spacing: 0.0082em;
}

.ie .stl_114 {
	letter-spacing: 0.1309px;
}
@font-face {
	font-family:"PUQLOH+LucidaSans-TypewriterBold";
	src:url("feced4ec-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_115 {
	font-size: 1em;
	font-family: "PUQLOH+LucidaSans-TypewriterBold";
	color: #000000;
}
@font-face {
	font-family:"QUCEBE+LucidaSans-Typewriter";
	src:url("fb4d2c6e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_116 {
	font-size: 1em;
	font-family: "QUCEBE+LucidaSans-Typewriter";
	color: #000000;
}
.stl_117 {
	letter-spacing: 0.0006em;
}

.ie .stl_117 {
	letter-spacing: 0.009px;
}
.stl_118 {
	letter-spacing: -0.0081em;
}

.ie .stl_118 {
	letter-spacing: -0.1299px;
}
@font-face {
	font-family:"CCQAVN+Calibri";
	src:url("df626b2c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_119 {
	font-size: 0.92em;
	font-family: "CCQAVN+Calibri", "Times New Roman";
	color: #FFFFFF;
}
.stl_120 {
	line-height: 1.220703em;
}
.stl_121 {
	letter-spacing: 0.0013em;
}

.ie .stl_121 {
	letter-spacing: 0.0189px;
}
.stl_122 {
	letter-spacing: -0.0041em;
}

.ie .stl_122 {
	letter-spacing: -0.0663px;
}
.stl_123 {
	font-size: 1em;
	font-family: "UCQPHO+TimesNewRomanPSMT";
	color: #0000FF;
}
.stl_124 {
	letter-spacing: -0.0088em;
}

.ie .stl_124 {
	letter-spacing: -0.1411px;
}
.stl_125 {
	letter-spacing: 0.0009em;
}

.ie .stl_125 {
	letter-spacing: 0.0142px;
}
.stl_126 {
	letter-spacing: -0.0032em;
}

.ie .stl_126 {
	letter-spacing: -0.052px;
}
.stl_127 {
	letter-spacing: -0.0027em;
}

.ie .stl_127 {
	letter-spacing: -0.0435px;
}
.stl_128 {
	letter-spacing: -0.0047em;
}

.ie .stl_128 {
	letter-spacing: -0.0747px;
}
.stl_129 {
	letter-spacing: -0.0035em;
}

.ie .stl_129 {
	letter-spacing: -0.056px;
}
.stl_130 {
	letter-spacing: 0.001em;
}

.ie .stl_130 {
	letter-spacing: 0.0154px;
}
.stl_131 {
	letter-spacing: 0.0012em;
}

.ie .stl_131 {
	letter-spacing: 0.0197px;
}
.stl_132 {
	letter-spacing: -0.0026em;
}

.ie .stl_132 {
	letter-spacing: -0.0415px;
}
.stl_133 {
	font-size: 0.88em;
	font-family: "WBBNHV+SegoeUI-Bold";
	color: #FFFFFF;
}
.stl_134 {
	letter-spacing: -0.0029em;
}

.ie .stl_134 {
	letter-spacing: -0.0414px;
}
.stl_135 {
	font-size: 0.88em;
	font-family: "SPABVD+SegoeUI";
	color: #000000;
}
.stl_136 {
	letter-spacing: -0.0037em;
}

.ie .stl_136 {
	letter-spacing: -0.0515px;
}
.stl_137 {
	letter-spacing: -0.011em;
}

.ie .stl_137 {
	letter-spacing: -0.1619px;
}
